*{
    margin: 0 ;
    padding: 0;
    box-sizing: border-box;
}
.container{
    display:grid;
    grid-template-rows: 200px auto 100px;
    margin:0 auto;
    height:90vh;
    justify-content: center;
    max-width:1500px;
    width:90%;
}
header{
    display:grid;
    justify-content: center;
}
nav {
    display: flex;
    justify-self: flex-end;
    padding: 10%;
}
nav a {
    padding: 2%;
    justify-content: space-around;
    margin-right: 10%;
    white-space: nowrap;
}
h2 {
    display: grid;
    justify-content: center;
}
form{
    display:grid;
    grid-template-columns: 200px 450px;
    grid-template-rows: repeat(7, 50px) 150px 250px
}
button{
    grid-column:1/-1;
}
footer {
    display: block;
    justify-content: center;
    text-align: center;
}

