* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    display: grid;
    grid-template-rows: 200px auto 100px;
    height: 90vh;
    max-width: 1500px;
    width: 90%;
    margin: 0 auto;
}
header {
    display: grid;
    justify-items: center;
}
nav {
    display: flex;
    justify-self: flex-end;
    padding: 10%;
}
nav a {
    padding: 2%;
    justify-content: space-around;
    margin-right: 10%;
    white-space: nowrap;
}
h2 {
    display: grid;
    justify-content: center;
}
ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
ul li {
    display: grid;
    /*grid-template-columns: 50% 50%;*/
   text-align: center;
    text-justify: auto;
    margin: 2%;
}
ul li a {
    text-align: center;
    margin: 2%;
}
ul li :last-child {
    margin-right: 0;
}
footer {
    display: block;
    justify-content: center;
    text-align: center;
}
