*{
    margin: 0 ;
    padding: 0;
    box-sizing: border-box;
}
.container{
    display:grid;
    margin:0 auto;
    height:90vh;
    justify-content: center;
    max-width:1000px;
    width:90%;
}
header{
    display:grid;
    justify-content: center;
}
nav {
    display: flex;
    justify-content: space-between;
    margin-left: 70%;
    margin-right: 10%;
}
h1{
    display:grid;
    /*grid-column: 1/-1;*/
    justify-content:center;
    margin-bottom: 5%;
}
form{
    display:grid;
    grid-template-columns: 200px 450px;
    grid-template-rows: repeat(7, 50px) 150px 250px
}
/*label{*/
/*    padding:5%;*/
/*}*/
button{
    grid-column:1/-1;
}
/*.footer{*/
/*    grid-column: 1/-1;*/
/*}*/

