*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}
.container {
/*display:flex; */
/*flex-direction: column; */
/*justify-content: center;*/
/*height: 100vh;*/
   /* display: grid  */
}
header {
    display: flex; 
    margin: 2rem auto; 
    align-items: center;  
}
h1 { 
    display: flex; 
    margin: 2rem auto; 
    align-items: center; 

}
.movie-genre {
    margin: 3rem 0;
    height: 14rem;
}
.clearfix::after {
    clear: both;
    content: '';
    display: block 
}

ul li {  
    float: left; 
    margin-right: 2%; 
    margin-left: 10%; 
    padding: 1rem;
    width: 32%;
    height: 100%; 
    text-align: center; 
    margin-bottom: 2%; 
}
ul li :last-child { 
    margin-right: 0;  
} 

/* .movie-content p { */
    /* margin: 3rem 0;
    height: 14rem;  */ 
    /* float: left;  */
    /* margin-right: 2%; 
    margin-left: 10%;  
    padding: 1rem;
    width: 80%;  */
    /* height: 25%;  */
    /* text-align: left; 
    margin-bottom: 2%;  */
/* } */
    
movie-content { 
    margin-right: 2%; 

    border-radius: 2%;
    margin-right: 2%; 
    text-align: left; 
    margin-bottom: 2%; 
    padding: 5rem ;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
    margin: 0 8px;
    border: 1px solid rgba(0, 0, 0, 0.3); 
}

.movie-info p {
    margin-right: 2%;
    margin-left: 10%;
    padding: 1rem;
    width: 50%;
    height: 100%;
    text-align: left; 
    margin-bottom: 2%;
    justify-content: left;
}
.movie-info {
    display: grid;
    grid-template-columns: 1fr 2fr;
    height: 30%;
}
.movie-hashtag-box{
    display: inline;
    width: auto;
}
nav {
    display: flex; 
   justify-content: space-between; 
    margin-left: 70%;
    margin-right: 10%;
} 
footer {
    display: block; 
    justify-content: center; 
    text-align: center; 
    /* flex-direction: column;  */ 
    /* align-self: flex-end;  
   */
}
img {
    margin-right: 20%;  

}

