* {
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;  
}

html {
    height: 100vh;
    background-image: url(https://images.freeimages.com/images/large-previews/6d9/cinema-1620545.jpg); 
    background-size: cover;   
}
