<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/layouthome.css">
</head>
<body>
    <div class = "container">
        <header> <h1>DreamChasers Movie Review</h1>
            <nav><a href="/all-hashtag-list"> Hashtags</a>
                <a href="/"> Home </a>
                <a href="/new-review">Review a Movie!</a>
            </nav>
        </header>
    <section>
        <h2 th:text="${hashtags.name}">Hashtags</h2>
        <ul>
            <li th:each="hashtag:${hashtags.movieReviews}">
                <a th:text = "${hashtag.movieTitle}" th:href="'/reviews/' + ${hashtag.id}">#Comedy</a>
            </li>
        </ul>
<!--        <ul>-->
<!--            <li><a href="../static/SampleHashtags.html"> #SampleHashtags </a></li>-->
<!--            <li><a href="../static/SampleHashtags.html"> #MustSeeMovie </a></li>-->
<!--           <li><a href="../static/SampleHashtags.html"> #NewRelease </a></li>-->
<!--            <li><a href="../static/SampleHashtags.html"> #Classics </a></li>-->
<!--            <li><a href="../static/SampleHashtags.html"> #Hilarious </a></li>-->
<!--            <li><a href="../static/SampleHashtags.html"> #TylerPerryMovie </a></li>-->
<!--            <li><a href="../static/SampleHashtags.html"> #Inclusive </a></li>-->
<!--        </ul>-->
    </section>
        <footer class="footer-span">&copy;2020 DreamChasers</footer>
    </div>  
</body>
</html>