<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/layout.css">
</head>
<body>
    <div class = "container"> 
        <header> DreamChasers Movie Review </header>
        <nav> <a href = "Hashtagtemplate.html"> Hashtags</a>
        <a href ="home.html"> Home </a></nav>
    <h1>Hashtags</h1> 
    <section class = "Hashtags">
        <ul>
            <li th:each="hashtag:${hashtags}">
                <a th:text = "${hashtag.name}" th:href="'hashtag/' + ${hashtag.id}">#Comedy</a>
            </li>
        </ul>
<!--        <ul>-->
<!--            <li><a href="../static/SampleHashtags.html"> #SampleHashtags </a></li>-->
<!--            <li><a href="../static/SampleHashtags.html"> #MustSeeMovie </a></li>-->
<!--            <li><a href="../static/SampleHashtags.html"> #NewRelease </a></li>-->
<!--            <li><a href="../static/SampleHashtags.html"> #Classics </a></li>-->
<!--            <li><a href="../static/SampleHashtags.html"> #Hilarious </a></li>-->
<!--            <li><a href="../static/SampleHashtags.html"> #TylerPerryMovie </a></li>-->
<!--            <li><a href="../static/SampleHashtags.html"> #Inclusive </a></li>-->
<!--        </ul>-->
    </section>
    </div>  
</body>
</html>