<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/layouthome.css">
</head>
<body>
<div class="container">
    <header> <h1>DreamChasers Movie Review</h1>
    <nav><a href="/all-hashtag-list"> Hashtags</a>
        <a href="/"> Home </a>
        <a href="/new-review">Review a Movie!</a>
    </nav>
    </header>
    <section class="movie-genre">
        <h2> Movie Genres </h2>
        <ul>
            <li th:each="genre:${genres}">
                <a th:text="${genre.name}" th:href="'genre/' + ${genre.id}">Action</a>
            </li>
            <!--        <li><a href="./a">Family</a></li>-->
            <!--        <li><a href="./Comedy.html">Comedy</a></li> -->
            <!--        <li><a href="./a">Horror/Thriller</a></li>-->
            <!--        <li><a href="./a">Drama</a></li>-->
            <!--        <li><a href="./a">Documentary</a></li>-->
            <!--        <li><a href="./a">Mystery</a></li>-->
            <!--        <li><a href="./a">Romance</a></li> -->
        </ul>
    </section>
    <footer class="footer-span">&copy;2020 DreamChasers</footer>
</div>
</body>
</html> 